.page-footer {
  padding: 2.75rem 0;
  text-align: center;
  color: hsla(var(--clr-white));
  background-color: hsl(var(--clr-black)/.9);
  
  &__wrapper {
    @media (min-width: $db + px) {
      display: flex;
    }
  }

  &__address {
    @media (min-width: $db + px) {
      flex-basis: 50%;  
    }
  }


  &__social {
    margin-top: 1.5rem;
    @media (min-width: $db + px) {
      margin-top: 0;
      flex-basis: 50%;  
    }
  }

  &__header {
    margin: 0;
    margin-bottom: 1.5rem;
    font-size: 1rem;
    font-weight: $fw-bold;
    line-height: 100%;
  }

  &__location {
    margin: 0;
    margin-bottom: 1.5rem;
    font-size: 1rem;
    line-height: 150%;
    text-transform: none;
  }

  &__phone {
    padding: 1rem 0rem;
    margin: 0;
    border: .1rem solid hsla(var(--clr-white)/0.5);
    text-transform: none;

    a {
      text-decoration: none;
      color: hsla(var(--clr-white));

      &:focus {
        outline: none;
        outline: 0.1rem solid hsl(var(--clr-primary));
      }
    }

    @media (min-width: $tb+ px) {
      padding: 0;
      border: none;
    }
  }

  @media (min-width: $tb+ px) {
    text-align: left;
  }
}