.advantages {
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
  background-color: hsl(var(--clr-black)/.9);
  
  &__list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-shrink: 1;
    flex-grow: 1;
    flex-wrap: wrap;
    list-style: none;
    color: hsla(var(--clr-white));
    
    @media (min-width: $db + px) {
      justify-content: space-between;
    }
  }

  &__item {
    padding-top: 7.25rem;
    padding-right: 2.25rem;
    padding-bottom: 1.65rem;
    padding-left: 2.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 5.25rem 5.25rem;
    background-position-x: center;
    background-position-y: top;
    
    &--fast {
      background-image: url("../img/fast.svg");
    }

    &--cool {
      background-image: url("../img/cool.svg");
    }

    &--price {
      background-image: url("../img/price.svg");
    }

    @media (min-width: $tb + px) {
      padding: 0;
      padding-top: 2.5rem;
      padding-left: 7.25rem;
      padding-bottom: 1.95rem;
      padding-right: 1.95rem; 
      align-items: flex-start;
      background-position-x: left;
      background-position-y: center;
    }

    @media (min-width: $db + px) {
      padding: 0;
      padding-top: 7.25rem;
      padding-left: 1.8rem;
      padding-right: 1.8rem;
      width: 33.333%;
      align-items: center;
      background-position-x: center;
      background-position-y: top;
    }
  }

  &__item:not(:last-child) {
    @media (min-width: $tb + px) {
      border-bottom: 0.1rem solid hsla(var(--clr-white)/.5);
    }

    @media (min-width: $db + px) {
      border-bottom: none;
      border-right: 0.1rem solid hsla(var(--clr-white)/.5);
    }
  }

  &__header {
    margin: 0;
    margin-bottom: 1.35rem;
    font-size: calc(20px + 10 * ((100vw - 320px) / 1200));
    line-height: 100%;
  }

  &__description {
    margin: 0;
    width: 28ch;
    font-size: calc( 16px * 4 ((100vw - 320px) / 1200));
    line-height: 135%;
    text-transform: none;
    text-align: center;

    @media (min-width: $tb + px) {
      width: 50ch;
      text-align: left;
    }

    
    @media (min-width: $db + px) {
      width: 28ch;
      text-align: center;
    }
  }

  &__pagination {
    display: flex;
    justify-content: center;

    @media (min-width: $tb + px) {
      display: none;
    }
  }

  &__pagination-item {
    padding: 0;
    margin: 0 1.35rem;
    width: 1rem;
    height: 1rem;
    border: 0.15rem solid hsla(var(--clr-white)/.7);
    background-color: transparent;
    transform: rotate(45deg);

    &--active {
      background-color: hsla(var(--clr-white));
    }
  }
}